body {
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}


#userInfoForm input {
    width : 100%;
    padding: 8px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}
#userInfoForm{
    margin: 40px;
}